@charset "UTF-8";
@import url(./_null.css);
@import url(./_fonts.css);
/* shared */
[class*='__container'] {
  max-width: 1253px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  [class*='__container'] {
    padding-inline: 24px;
  }
}

:root {
  --gray: #a3a3a3;
  --gradient: linear-gradient(261.69deg, #ff6432 12.12%, #ffa228 86.72%);
  --bg: #180a00;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  background-color: var(--bg);
  color: #fff;
  overflow-x: hidden !important;
}

.bg-text {
  font-family: 'Alex Brush', sans-serif;
  color: var(--bg);
  font-size: 200px;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px transparent;
  opacity: 0.2; /* 10% не видно */
  position: absolute;
  z-index: -1;
}

.symbols {
  font-family: sans-serif;
}

.gradient-text {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
}

.title {
  font-size: 69px;
  font-weight: 800;
  line-height: 109%;
}
@media (max-width: 650px) {
  .title {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 35px;
  }
}

.desc {
  font-size: 20px;
  color: #a3a3a3;
}
@media (max-width: 650px) {
  .desc {
    font-size: 14px;
  }
}

@media (max-width: 1400px) {
  .pc {
    display: none;
  }
}

.white {
  color: #fff;
}

.gradient-btn {
  background: var(--gradient);
  color: #fff;
  padding: 10px;
  border-radius: 700px;
  transition: 0.3s;
  font-size: 22px;
  width: 100%;
}
.gradient-btn:hover {
  filter: brightness(0.8);
}
@media (max-width: 650px) {
  .gradient-btn {
    font-size: 16px;
  }
}

.outlined-btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 30px;
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 760px) {
  .outlined-btn {
    font-size: 9px;
  }
}

.outlined-btn:hover {
  filter: brightness(0.8);
}

.outlined-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 100px;
  width: 100%;
  padding: 2px;
  background: var(--gradient);
  -webkit-mask: linear-gradient(#fff, #fff 0 0) content-box, linear-gradient(#fff, #fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* header */
.header__container {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.header__container h2 {
  font-weight: 800;
  font-size: 34.06px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.header__container .nav {
  display: flex;
  align-items: center;
  gap: 80px;
  transition: 0.3s ease;
  z-index: 9;
}
.bag {
  width: auto;
}
.header__container .nav a {
  color: #a3a3a3;
  position: relative;
}
.header__container .nav a::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--gradient);
  color: transparent;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s opacity;
}
.header__container .nav a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.header__container .nav a:hover::after {
  opacity: 1;
}
@media (max-width: 1000px) {
  .header__container .nav {
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .header__container .nav {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d0c00;
  }
}
.header__container .burger-toggle {
  display: none;
}

.header__btns {
  display: flex;
  gap: 26px;
  align-items: center;
}
.header__btns:first-child {
  display: none;
  width: 163px !important;
}
.header__btns .login-btn {
  width: 163px;
}
@media (max-width: 750px) {
  .header__btns .login-btn {
    display: none;
  }
}
@media (max-width: 1000px) and (min-width: 751px) {
  .header__btns {
    gap: 10px;
  }
}
.header__btns .burger {
  display: none;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  position: relative;
  z-index: 11;
}
.header__btns .burger span {
  width: 28px;
  height: 1px;
  background: var(--gradient);
  transition: 0.3s;
}
@media (max-width: 750px) {
  .header__btns .burger {
    display: flex;
  }
}

.burger-toggle:checked ~ .header__btns .burger .line:nth-child(1) {
  transform: rotate(45deg) translate(3px, 10px);
}

.burger-toggle:checked ~ .header__btns .burger .line:nth-child(2) {
  opacity: 0;
}

.burger-toggle:checked ~ .header__btns .burger .line:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -10px);
}

.burger-toggle:checked ~ .nav {
  top: 0;
}

@media (max-width: 750px) {
  .burger-toggle:checked ~ .header__btns .burger {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1000;
  }
}

/* banner */
.banner {
  margin-top: 120px;
  position: relative;
}
@media (max-width: 1400px) {
  .banner {
    margin-top: 60px;
  }
}
@media (max-width: 650px) {
  .banner .banner__column {
    display: flex;
    flex-direction: column-reverse;
  }
}
.banner .bg-text:nth-child(1) {
  right: 0;
  top: -120px;
}
.banner .bg-text:nth-child(2) {
  right: 30%;
  bottom: 0px;
}
.banner .bg-text:nth-child(3) {
  left: 20%;
  top: -100px;
}

.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__container .banner__info h2 {
  margin-bottom: 30px;
}
.banner__container .banner__info h2 img {
  padding: 0 15px;
}
@media (max-width: 650px) {
  .banner__container .banner__info h2 img {
    padding: 0;
    height: 60px;
  }
}
.banner__container .banner__info h2 .arrow_title {
  transform: translateY(20px);
}
.banner__container .banner__info p {
  max-width: 425px;
}
.banner__container .banner__btns {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.banner__container .banner__btns img {
  margin-top: 140px;
}
@media (max-width: 650px) {
  .banner__container .banner__btns {
    margin-top: 32px;
  }
}
.banner__container .gradient-btn {
  width: 230px;
  z-index: 2;
}
@media (max-width: 650px) {
  .banner__container .gradient-btn {
    width: 50%;
  }
}

.banner__container .outline-btn {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 30px 12px 50px;
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  margin-left: -40px;
  transition: 0.3s;
}

.banner__container .outline-btn:hover {
  filter: brightness(0.8);
}

.banner__container .outline-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0 100px 100px 0;
  padding: 2px;
  background: var(--gradient);
  /* -webkit-mask: var(--gradient) content-box, linear-gradient(#fff 0 0); */
  -webkit-mask: linear-gradient(#fff, #fff 0 0) content-box, linear-gradient(#fff, #fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@media (max-width: 650px) {
  .banner__container .outline-btn {
    font-size: 13px;
  }
}
@media (max-width: 1400px) {
  .banner__container {
    flex-direction: column-reverse;
    gap: 76px;
    align-items: start;
  }
}

.banner__cooking {
  margin-top: 23px;
}
.banner__cooking .video {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.banner__cooking .video::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 84px;
  background: url(../images/player_btn.svg) no-repeat center;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}
@media (max-width: 650px) {
  .banner__cooking .video::after {
    width: 57px;
    height: 57px;
    border-radius: 50%;
  }
}
.banner__cooking .video:hover::after {
  opacity: 0.9;
}
.banner__cooking img {
  border-radius: 23px;
  margin-top: 12px;
}
@media (max-width: 650px) {
  .banner__cooking img {
    width: 194px;
    height: 138px;
  }
}

.banner__img {
  position: relative;
  align-self: center;
}
.banner__img .pizza {
  position: absolute;
  top: 0;
  right: 30px;
  transform: translate(50%, -50%);
}
.banner__img .fries {
  position: absolute;
  bottom: 50px;
  left: -10px;
  transform: translate(-50%, 50%);
}
@media (max-width: 650px) {
  .banner__img {
    width: 243px;
  }
  .banner__img .fries {
    width: 110px;
    height: 117px;
    bottom: 20px;
  }
  .banner__img .pizza {
    width: 130px;
    height: 130px;
  }
}

/* menu */
.menu {
  position: relative;
  margin-top: 25px;
}
.menu .title {
  text-align: center;
  width: 100%;
}
.menu .bg-text:nth-child(1) {
  top: 150px;
  left: 200px;
}
.menu .bg-text:nth-child(2) {
  top: 600px;
  right: 200px;
}

.base-btn {
  background: var(--bg);
  color: #fff;
  padding: 20px;
  border-radius: 700px;
  transition: 0.3s;
  font-size: 22px;
  width: 229px;
  text-align: center;
  box-shadow: 0px 9px 40px rgba(255, 107, 0, 0.06);
}
.base-btn:hover {
  opacity: 0.8;
}
@media (max-width: 1280px) {
  .base-btn {
    padding: 20px;
    width: auto;
  }
}
@media (max-width: 650px) {
  .base-btn {
    font-size: 16px;
  }
}

.menu__filter input:checked + label {
  background: var(--gradient);
}

.menu__filter {
  margin-top: 50px;
  display: flex;
  justify-content: start;
  gap: 24px;
  flex-wrap: wrap;
}
@media (max-width: 680px) {
  .menu__filter {
    gap: 14px;
    font-size: 13px;
  }
}

/* pizzas */
.pizzas__block {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(250px, 297px));
  gap: 20px;
  row-gap: 63px;
  margin-top: 111px;
}
@media (max-width: 1280px) {
  .pizzas__block {
    grid-template-columns: repeat(2, minmax(197px, 297px));
  }
}
@media (max-width: 400px) {
  .pizzas__block {
    grid-template-columns: repeat(1, 1fr);
  }
}

.info__width {
  max-width: 194px;
  text-align: center;
  justify-self: center;
  margin: 0 auto;
}

.card {
  background: #1f0f03;
  border-radius: 24px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.pizza-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: -80px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
@media (max-width: 680px) {
  .pizza-img {
    width: 97px;
    height: 97px;
  }
}

h2 {
  margin-top: 12px;
  font-size: 25px;
}

.filling {
  color: var(--gray);
  font-size: 14px;
  margin: 8px 0 16px;
}
@media (max-width: 680px) {
  .filling {
    font-size: 9px;
  }
}

.sizes {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
}

.ingredients:hover {
  background: var(--gradient);
  color: white;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
}

.price {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 680px) {
  .price {
    font-size: 16px;
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}
@media (max-width: 680px) {
  .quantity {
    font-size: 14px;
  }
}

.quantity button {
  background: none;
  border: 1.5px solid #ff6432;
  color: #ff6432;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s;
}

.quantity button:hover {
  background: var(--gradient);
  color: white;
  border: none;
}

.dollar {
  font-family: sans-serif;
  font-size: 16px;
  vertical-align: super;
}

.size-label input[type='radio'] {
  display: none;
}

.size-label span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--gray);
  border-radius: 50%;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.size-label input[type='radio']:checked + span {
  background: var(--gradient);
  border: none;
  color: white;
}

/* most popular */
.popular {
  margin-top: 54px;
  position: relative;
}
.popular .bg-text {
  top: 250px;
  left: 200px;
}

.banner-text {
  font-size: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  background: url(../images/most_pop.png) center;
  width: 100%;
  height: 286px;
  border-radius: 34px;
  text-align: center;
}
@media (max-width: 680px) {
  .banner-text {
    font-size: 26px;
    height: 175px;
    background-size: cover;
  }
}

/* about us */

.about {
  margin-top: 120px;
  position: relative;
}
.about .bg-text {
  left: 200px;
  top: -100px;
}

.about__arrow {
  align-self: center;
}

.about__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 130px;
  }
}

.about__info {
  max-width: 490px;
  display: flex;
  flex-direction: column;
}
.about__info h2 {
  margin-bottom: 14px;
}
.about__info img {
  margin-block: 22px;
}
@media (max-width: 1280px) {
  .about__info img {
    width: 350px;
    align-self: center;
  }
}

.about__pizza {
  position: relative;
  display: inline;
}
.about__pizza .fries {
  position: absolute;
  bottom: 10px;
  left: 12px;
  transform: translate(-50%, 50%);
}
@media (max-width: 1280px) {
  .about__pizza .fries {
    width: 110px;
  }
}
.about__pizza .pizza {
  position: absolute;
  top: 0px;
  right: 12px;
  transform: translate(50%, -50%);
}
@media (max-width: 1280px) {
  .about__pizza .pizza {
    width: 120px;
  }
}
@media (max-width: 1280px) {
  .about__pizza .main-pizza {
    width: 256px;
  }
}
@media (max-width: 400px) {
  .about__pizza .main-pizza {
    width: 200px;
  }
}

/* footer */
footer {
  margin-top: 130px;
  padding-block: 70px;
  background-color: #170700;
  background: linear-gradient(
    65.71deg,
    #170a00 3.58%,
    #170600 32.32%,
    #0f0700 67.02%,
    #170a00 95.04%
  );
}
@media (max-width: 760px) {
  footer {
    margin-top: 80px;
    padding-block: 40px;
  }
}

.footer__container h2 {
  font-size: 30px;
  font-weight: normal;
  font-weight: 800;
}

.footer__nav {
  display: flex;
  gap: 84px;
  flex-wrap: wrap;
}
@media (max-width: 760px) {
  .footer__nav {
    gap: 60px;
  }
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 84px;
  flex-wrap: wrap;
}
@media (max-width: 760px) {
  .footer__links {
    grid-template-columns: repeat(2, auto);
    gap: 27px;
  }
}

.footer__links nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 760px) {
  .footer__links nav {
    gap: 10px;
  }
}

.footer__links a {
  color: #515151;
  transition: 0.3s;
  font-size: 18px;
}
@media (max-width: 760px) {
  .footer__links a {
    font-size: 14px;
  }
}

.footer__links a:hover {
  color: var(--gray);
}

.footer__links h3 {
  margin-bottom: 7px;
  color: var(--gray);
  font-size: 20px;
}
@media (max-width: 760px) {
  .footer__links h3 {
    font-size: 15px;
  }
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footer__contacts a {
  font-size: 20px;
  transition: 0.3s;
}
@media (max-width: 760px) {
  .footer__contacts a {
    font-size: 15px;
  }
}

.footer__contacts a:hover {
  opacity: 0.8;
}

.social__media {
  display: flex;
  gap: 5px;
}

.social__media img {
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 760px) {
  .social__media img {
    width: 19px;
    height: 19px;
  }
}
.social__media img:hover {
  opacity: 0.8;
}

/* events */
.events {
  margin-top: 75px;
}

.events__card {
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 87px 20px;
  border-radius: 30px;
  justify-content: center;
}

.events__card h3 {
  font-size: 25px;
  font-weight: 600;
}

.events__card button {
  width: 204px;
}

.events__row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.events__title {
  max-width: 458px;
  text-align: right;
}

.card-1 {
  background-image: url(../images/events/1.png);
  width: 367px;
  height: 260px;
  position: relative;
}

.card-2 {
  background-image: url(../images/events/2.png);
  width: 396px;
  height: 260px;
}

.card-3 {
  background-image: url(../images/events/3.png);
  width: 615px;
  height: 260px;
}

.card-4 {
  background-image: url(../images/events/4.png);
  width: 615px;
  height: 260px;
  position: relative;
}

.card-5 {
  background-image: url(../images/events/5.png);
  width: 401px;
  height: 260px;
  position: relative;
}

.card-6 {
  background-image: url(../images/events/6.png);
  width: 401px;
  height: 260px;
}

.card-7 {
  background-image: url(../images/events/7.png);
  width: 401px;
  height: 260px;
}

.egg {
  position: absolute;
  max-width: 218px;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.buritto {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.coffee {
  position: absolute;
  left: 0;
  bottom: 10px;
  transform: translate(-50%, 50%);
}

@media (max-width: 840px) {
  .events__row {
    flex-direction: column;
  }
  .events__card {
    gap: 12px;
    width: 100% !important;
    height: 160px;
  }
  .events__title {
    order: -1;
    text-align: center;
  }
  .events__title {
    font-size: 16px;
  }
  .events__card button {
    width: 115px;
  }
  .events__row {
    gap: 63px;
    margin-bottom: 0;
    margin-bottom: 63px;
  }
}
