@import url(./_null.css);
@import url(./_fonts.css);

[class*='__container'] {
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 15px;
}

:root {
  --gray: #a3a3a3;
  --gradient: linear-gradient(261.69deg, #ff6432 12.12%, #ffa228 86.72%);
  --bg: #180a00;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  background-color: var(--bg);
  color: #fff;
  overflow-x: hidden !important;

  scroll-behavior: smooth;
}

.bg-text {
  font-family: 'Alex Brush', sans-serif;
  color: var(--bg);
  font-size: 200px;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px transparent;
  opacity: 0.2; /* 10% не видно */
}

.gradient-text {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
}

.title {
  font-size: 69px;
  font-weight: 800;
  max-width: 548px;
  line-height: 109%;

  @media (max-width: 650px) {
    font-size: 48px;
    line-height: 58px;
  }

  @media (max-width: 400px) {
    font-size: 35px;
  }
}

.desc {
  font-size: 20px;
  color: #a3a3a3;
  @media (max-width: 650px) {
    font-size: 14px;
  }
}

.white {
  color: #fff;
}

.gradient-btn {
  background: var(--gradient);
  color: #fff;
  padding: 10px;
  border-radius: 700px;
  transition: 0.3s;
  font-size: 22px;

  &:hover {
    opacity: 0.8;
  }
  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.header__container {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;

  h1 {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 34.06px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 80px;
    transition: 0.3s ease;
    z-index: 9;

    a {
      color: #a3a3a3;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--gradient);
        color: transparent;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        opacity: 0;
        transition: 0.3s opacity;
      }

      &:hover {
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;

        &::after {
          opacity: 1;
        }
      }
    }

    @media (max-width: 1000px) {
      gap: 20px;
    }
    @media (max-width: 750px) {
      position: fixed;
      top: -100vh;
      left: 0;

      width: 100vw;
      height: 100vh;

      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      background-color: #1d0c00;
    }
  }

  .burger-toggle {
    display: none;
  }
}

.header__btns {
  display: flex;
  gap: 26px;
  align-items: center;

  &:first-child {
    display: none;
    width: 163px !important;
  }

  .login-btn {
    width: 163px;
    @media (max-width: 750px) {
      display: none;
    }
  }

  @media (max-width: 1000px) and (min-width: 751px) {
    gap: 10px;
  }

  .burger {
    display: none;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    position: relative;
    z-index: 11;

    span {
      width: 28px;
      height: 1px;
      background: var(--gradient);
      transition: 0.3s;
    }

    @media (max-width: 750px) {
      display: flex;
    }
  }
}

.burger-toggle:checked ~ .header__btns .burger .line:nth-child(1) {
  transform: rotate(45deg) translate(3px, 10px);
}

.burger-toggle:checked ~ .header__btns .burger .line:nth-child(2) {
  opacity: 0;
}

.burger-toggle:checked ~ .header__btns .burger .line:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -10px);
}

.burger-toggle:checked ~ .nav {
  top: 0;
}

/* banner */

.banner {
  margin-top: 120px;
  position: relative;
  @media (max-width: 1400px) {
    margin-top: 60px;
  }

  .banner__column {
    @media (max-width: 650px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .bg-text {
    position: absolute;
    z-index: -1;
  }
  .bg-text:nth-child(1) {
    right: 0;
    top: -120px;
  }
  .bg-text:nth-child(2) {
    right: 30%;
    bottom: 0px;
  }
  .bg-text:nth-child(3) {
    left: 20%;
    top: -100px;
  }
}

.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .banner__info {
    h1 {
      margin-bottom: 30px;
      img {
        padding: 0 15px;
      }
      @media (max-width: 650px) {
        img {
          padding: 0;
          height: 60px;
        }
      }
      .arrow_title {
        transform: translateY(20px);
      }
    }

    p {
      max-width: 425px;
    }
  }

  .banner__btns {
    margin-top: 60px;
    display: flex;
    align-items: center;
    @media (max-width: 650px) {
      margin-top: 32px;
    }
  }

  .gradient-btn {
    width: 230px;

    @media (max-width: 650px) {
      width: 50%;
    }
  }

  .outline-btn {
    font-size: 18px;
    padding: 20px 35px;
    @media (max-width: 650px) {
      font-size: 13px;
    }
  }

  @media (max-width: 1400px) {
    flex-direction: column-reverse;
    gap: 76px;

    align-items: start;
  }
}

.banner__cooking {
  margin-top: 23px;

  .video {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .video::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 84px;
    background: url(../images/player_btn.svg) no-repeat center;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    @media (max-width: 650px) {
      width: 57px;
      height: 57px;
      border-radius: 50%;
    }
  }
  .video:hover::after {
    opacity: 0.9;
  }
  img {
    border-radius: 23px;
    margin-top: 12px;
    @media (max-width: 650px) {
      width: 194px;
      height: 138px;
    }
  }
}

.banner__img {
  position: relative;
  align-self: center;

  .pizza {
    position: absolute;
    top: 0;
    right: 30px;
    transform: translate(50%, -50%);
  }

  .fries {
    position: absolute;
    bottom: 50px;
    left: -10px;
    transform: translate(-50%, 50%);
  }
  @media (max-width: 650px) {
    width: 243px;

    .fries {
      width: 110px;
      height: 117px;
      bottom: 20px;
    }
    .pizza {
      width: 130px;
      height: 130px;
    }
  }
}

.pc {
  @media (max-width: 1400px) {
    display: none;
  }
}

footer {
  margin-top: 400px;
}
